:root {
  --measure: 60ch;

  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
  @apply text-uniform;
}

* {
  /* max-width: var(--measure); */
  box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

/* .measure {
  max-width: var(--measure);
} */

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-black;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-2xl;
}

h4 {
  @apply text-xl;
}

h5 {
  @apply text-lg;
}

input,
select {
  @apply border border-solid border-primary py-2 px-3;
}

label::after {
  content: "\A";
  white-space: pre;
}
label {
  @apply text-black;
}
button {
  @apply bg-primary text-white p-2;
}

table {
  @apply border-collapse border-2 border-primary;
}

th {
  @apply border border-gray-400 px-4 py-2 font-bold text-center;
}

td {
  @apply border border-gray-400 px-4 py-2 text-left;
}
textarea {
  @apply border border-solid border-primary;
}
