@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  /* --measure: 60ch; */

  margin: 0;
  line-height: 1.5;
  @apply text-uniform;
  @apply font-sans;
}

* {
  /*  max-width: var(--measure); */
  box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-canadiana;
}

a {
  color: inherit;
}
h1 {
  @apply text-2xl pl-5 pt-20;
  @apply font-sans;
}
h2 {
  @apply text-lg pl-5 pt-5;
}
.layout {
  @apply m-5 mt-10;
}
.list {
  @apply list-inside list-disc pt-10 pl-5;
}

.data-list {
  @apply border-solid border-black;
}

button{
  @apply bg-canadiana text-white p-0 border border-canadiana rounded
}
