@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


:root {
  --brand-color: #98012e;
  --text-color: #333;
  --background-color: #fff;
  --measure: 60ch;

  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  color: var(--text-color);
}

* {
  max-width: var(--measure);
  box-sizing: border-box;
}

html,
body,
div,
header,
nav,
main,
footer {
  max-width: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brand-color);
}

a {
  color: inherit;
}
